name: ferramentas_do_programador

description: "Várias funcionalidades que criei para facilitar alguns procedimentos que faço quando estou programando."

publish_to: "none"

version: 2025.3.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  file_picker: ^10.3.2

  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
